{% extends 'base.html' %}
{% load static %}

{% block title %}GREAT Waters - Edit - {{project}}{% endblock %}

{% block breadcrumb %}
<div class="container">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'admin_dashboard' %}">Dashboard</a></li>
            <li class="breadcrumb-item "><a href="{% url 'project_management' %}">Work Entries</a></li>
            <li class="breadcrumb-item "><a href="{%url 'view_work_entry_admin' work_entry.id %}">{{work_entry}}</a></li>
            <li class="breadcrumb-item active">Edit - {{work_entry}}</li>
        </ol>
    </nav>
</div>
{% endblock %}

{% block content %}
<div class="container-fluid">
    <!-- Alert container for messages -->
    <div id="alert-container"></div>

    <div class="row">
        <div class="col-12">
            <div class="card modern-card">
                <div class="card-header">
                    <div class="d-flex justify-content-between align-items-center">
                        <h3 class="card-title mb-0">Edit work entry - {{work_entry}}</h3>
                        
                    </div>
                </div>
                <div class="card-body">

                    <form method="post">
                        {% csrf_token %}
                        {{form.as_p}}
                        <br>
                        <button class="btn btn-primary" type="submit">Update</button>
                    </form>
                    <hr>
                    


                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}